address: "{{ role_nutanix_prism_proxy_address }}"
port: {{ role_nutanix_prism_proxy_port }}
name: "{{ role_nutanix_prism_proxy_name }}"
{% if role_nutanix_prism_proxy_username | default("") != "" and role_nutanix_prism_proxy_password | default("") != "" %}
username: "{{ role_nutanix_prism_proxy_username }}"
password: "{{ role_nutanix_prism_proxy_password }}"
{% endif %}
proxy_types: {{ role_nutanix_prism_proxy_types }}
